/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-color: #fdf6f0;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}

header h1 {
    text-align: center;
    font-size: 3em;
    color: #6a1b9a;
    font-family: 'Playfair Display', serif;
    margin-bottom: 30px;
}

.carousel {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    background: #fff;
    width: 100%;
}

.recipe-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.recipes {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.recipe-card {
    flex: 0 0 100%;
    box-sizing: border-box;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.recipe-card a {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.recipe-image {
    width: 100%;
    height: 300px;
    background-color: #f0f0f0;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1);
    border-radius: 20px 20px 0 0;
}

.recipe-info {
    padding: 20px;
    background: #fff;
    border-radius: 0 0 20px 20px;
}

.recipe-info h2 {
    margin: 0;
    font-size: 2em;
    color: #6a1b9a;
    font-family: 'Playfair Display', serif;
}

.recipe-info p {
    font-size: 1.2em;
    color: #777;
}

/* Navigation arrows */
.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.0);
    color: #000000;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 2.5em;
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav:focus {
    outline: none;
}

.nav:hover {
    background-color: rgba(0, 0, 0, 0.0);
    transform: translateY(-50%) scale(1.2);
}

.left-nav {
    left: -30px;
}

.right-nav {
    right: -30px;
}

.left-arrow-wrapper,
.right-arrow-wrapper {
    position: absolute;
    top: 100%;
    transform: translateY(-140px);
    color: #6a1b9a;
    transition: transform 0.3s, color 0.3s;
}

.left-arrow-wrapper:hover,
.right-arrow-wrapper:hover {
    color: #ffffff;
    transform: translateY(-145px);
}

.left-arrow-wrapper {
    left: 15px;
}

.right-arrow-wrapper {
    right: 15px;
}

.arrow {
    width: 120px;
    height: 120px;
    fill: currentColor;
    transition: transform 0.3s, color 0.3s;
}

.nav:active .arrow {
    transform: scale(0.9);
    color: #fff;
}

/* Phone view */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    header h1 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    .recipe-card {
        padding: 10px;
    }

    .recipe-info h2 {
        font-size: 1.6em;
    }

    .recipe-info p {
        font-size: 1.1em;
    }

    .nav {
        padding: 10px;
        font-size: 2em;
        transform: translateY(-50%) scale(1.2);
    }

    .arrow {
        width: 100px;
        height: 100px;
    }

    .left-nav {
        left: -10px;
    }

    .right-nav {
        right: -10px;
    }

    .recipe-image {
        height: 250px;
    }
    
    .left-arrow-wrapper,
    .right-arrow-wrapper {
        transform: translateY(-150px);
        top: 150%;
    }

    .container {
        transform: translateY(-40px);
    }
}

/* Lower buttons */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.library-btn,
.random-btn {
    background-color: #6a1b9a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    margin: 0 10px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.7);
    font-family: 'Lato', sans-serif;
    outline: 3px solid #5a217e; /* Add outline on hover */
}

.library-btn:hover,
.random-btn:hover {
    background-color: #501b70;
    transform: scale(1.05);
}

.library-btn:focus,
.random-btn:focus {
    outline: none;
}

.library-btn:active,
.random-btn:active {
    box-shadow: none;
    transform: scale(1);
}
