body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #2c2c2c, #3a3a3a);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#app {
    width: 100%;
    max-width: 400px;
    background: #3a3a3a;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    transition: all 0.3s ease;
}

#app:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background: #4a4a4a;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s ease;
}

li:hover {
    background: #5a5a5a;
}

li.purchased {
    text-decoration: line-through;
    color: #999;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button.delete {
    background: #da6c72;
    color: #fff;
}

button.delete:hover {
    background: #c05558;
}

button.mark {
    background: #b294bb;
    color: #fff;
}

button.mark:hover {
    background: #9b7ba1;
}

button.add {
    flex: 1;
    background: #8d8d8d;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    margin-right: 10px;
}

button.add:hover {
    background: #353535;
}

button.share {
    background: #5a5a5a;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

button.share:hover {
    background: #4a4a4a;
}

input,
select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #555;
    border-radius: 5px;
    box-sizing: border-box;
    background: #4a4a4a;
    color: #e0e0e0;
    transition: border-color 0.3s ease;
}

input:focus,
select:focus {
    border-color: #b294bb;
    outline: none;
}

/* Media Queries for Responsive Design */
@media (max-width: 600px) {
    #app {
        max-width: 70%;
        padding: 15px;
    }

    button.add {
        padding: 6px 10px;
    }

    button.share {
        padding: 6px 10px;
    }

    input,
    select {
        padding: 10px;
    }
}

@media (max-width: 400px) {
    #app {
        max-width: 70%;
        padding: 10px;
    }

    button.add {
        padding: 5px 8px;
    }

    button.share {
        padding: 5px 8px;
    }

    input,
    select {
        padding: 8px;
    }
}
